.root {
	position: relative;
	left: -120px;
}

.input {
	border: 1px solid rgba(0, 0, 0, 0.1);
	padding: 12px 20px 12px 40px;
	width: 400px;
	border-radius: 10px;
	font-size: 16px;
	transition: all 0.15s ease-in-out;

	&:focus {
		border: 1px solid rgba(0, 0, 0, 0.2);
	}
}

.icon {
	width: 22px;
	height: 22px;
	opacity: 0.33;
	position: absolute;
	top: 13px;
	left: 13px;
}

.iconClose {
	width: 22px;
	height: 22px;
	opacity: 0.33;
	position: absolute;
	top: 13px;
	right: 13px;
	&:hover {
		opacity: 0.8;
		cursor: pointer;
	}
}
